<div class="md:flex">
  <div class="flex flex-col md:w-[10%] md:pl-1.5 md:h-screen">
    <button class="flex w-min cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>
    
    <div class="">1</div>
    <div class="">2</div>
    <div class="">3</div>
  </div>
  <div class="flex grow">
    <router-outlet></router-outlet>
  </div>
</div>